<html>

	<head th:replace="~{base :: head}"></head>
	
	<body>
	
		<div th:replace="~{base :: login}"></div>
		
		<div class="container mb-5">			

			<div th:replace="~{base :: titulo('atualizar cliente')}"></div>
			
			<nav class="navbar navbar-expand navbar-dark bg-dark d-flex mb-3 shadow">
				<div class="container-fluid">
					
					<div class="collapse navbar-collapse">
						<div class="navbar-nav">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16" style="color: white">
								<path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
								<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
							</svg>			    	
				     	</div>
				     	<div class="navbar-nav">
						    <a class="nav-link" href="/">Home</a>				        	
						    <a class="nav-link" href="/clientes">Clientes</a>
						    <a class="nav-link" href="/imoveis">Imóveis</a>				        		
						    <a class="nav-link" href="/contratos">Contratos</a>
					    </div>	   	
					   
				    </div>  	
			    	
				</div>
			</nav>
		
		
		
		
			<div class="card shadow">
				<form class="card-body" action="#" 
  					th:action="@{/clientes/update/{id}(id=${cliente.id})}" 
  					th:object="${cliente}" 
  					method="post">
  					
  					
				<!-- <form th:object="${requisicaoCliente}" class="card-body" action="/clientes/update/" method="post"> -->
				
					<div class="form-group mb-3">
						<label for="cpfCliente" class="form-label mb-0">CPF</label>						
						<input th:field="*{cpf}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="000.000.000-00"/>						
						<div th:errors="*{cpf}" class="invalid-feedback"></div>				
					</div>
					
					<div class="form-group mb-3">
						<label for="nomeCliente" class="form-label mb-0">Nome</label>		
						<input th:field="*{nome}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="nome do cliente"/>							
						<div th:errors="*{nome}" class="invalid-feedback"></div>
										
					</div>				
					
					<div class="form-group mb-3">
						<label for="identidadeCliente" class="form-label mb-0">Identidade</label>
						<input th:field="*{identidade}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="identidade do cliente"/>
						<div th:errors="*{identidade}" class="invalid-feedback"></div>			
					</div>
									
					<div class="form-group mb-3">
						<label for="emailCliente" class="form-label mb-0">E-Mail</label>						
						<input th:field="*{email}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="e-mail do cliente"/>
						<div th:errors="*{email}" class="invalid-feedback"></div>			
					</div>				
					<div class="form-group mb-3">
					
						<label for="telefoneCliente" class="form-label mb-0">Telefone</label>						
						<input th:field="*{telefone}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="(00) 00000-0000"/>
						<div th:errors="*{telefone}" class="invalid-feedback"></div>					
					</div>				
					
					<div class="form-group mb-3">
						<label for="nomeRepresentanteCliente" class="form-label mb-0">Nome do representante</label>						
						<input th:field="*{representante}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="nome do representante do cliente"/>
						<div th:errors="*{representante}" class="invalid-feedback"></div>				
					</div>				
					
					<div class="form-group mb-3">
						<label for="representanteCliente" class="form-label mb-0">E-Mail do representante</label>					
						<input th:field="*{emailRepresentante}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="e-mail do representante do cliente"/>
						<div th:errors="*{emailRepresentante}" class="invalid-feedback"></div>			
					</div>				
					
					<div class="form-group mb-3">
						<label for="telefoneRepresentanteCliente" class="form-label mb-0">Telefone do representante</label>
						<input th:field="*{telefoneRepresentante}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="(00) 00000-0000"/>									
						<div th:errors="*{telefoneRepresentante}" class="invalid-feedback"></div>	
					</div>
					
					<div class="form-group mb-3">
						<label for="observacaoCliente" class="form-label mb-0">Observações</label>										
						<textarea th:field="*{observacao}" th:errorclass="is-invalid" class="form-control shadow-sm" placeholder="Observações"></textarea>									
						<div th:errors="*{observacao}" class="invalid-feedback"></div>
					</div>
					
					<div>											
						<button class="btn btn-secondary" type="submit">Salvar</button>
					</div>
				
				</form>
			</div>
			<div class="d-flex" style="height: 40px;">
				<div class="vr"></div>
			</div>						
		</div>
		
		
		<!-- Footer -->		
		<footer th:replace="~{base :: footer}"></footer>
		
	</body>	
</html>

		